{% extends "lib/webinterface/fragments/layout.tpl" %}
{% import "lib/webinterface/fragments/macros.tpl" as macros%}
{% block head_css %}
{% include 'lib/webinterface/fragments/select_css.tpl' %}
{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <a class="success" href="{%
                        if display_type == "edit"
                        %}/tools/module_presence/{{ trackable.id }}/details{%
                        else
                        %}tools/module_presence/index{% endif %}" aria-label="Delete"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                        {{ header_label}}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <form method="post" id="inputtypeedit">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Basic Information</label>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label style="margin-top: 0px; margin-bottom: 0px">Label: </label>
                                        <a href="#" data-toggle="modal" data-target="#modallabel"><i class="fa fa-question fa-lg"></i></a>
                                        {{ macros.modal("modallabel", 'Label', '
                                        <p>A label for the input type. A short but helpful title to describe what the input type does. For example: IP V4 Address</p>
                                        ') }}
                                        <br>
                                        <div class="input-group">
                                            <input tabindex="1" type="text" class="form-control" name="label" id="label" size="30" placeholder="Trackable Name" value="{{ trackable.label }}" autofocus required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label style="margin-top: 0px; margin-bottom: 0px">Machine Label: </label>
                                        <a href="#" data-toggle="modal" data-target="#modalmachinelabel"><i class="fa fa-question fa-lg"></i></a>
                                        {{ macros.modal("modalmachinelabel", 'Machine Label', '
                                        <p>The machine label is used by developers and the gateway to determine uniqueness. <strong>Once set, this cannot be changed!</strong></p>
                                        <p>Usually a short version of the input type label. Example: ip_v4_address</p>') }}
                                        <br>
                                        <div class="input-group">
                                            <input {% if action_type == 'edit' %}disabled {% endif %}tabindex="2" type="text" class="form-control" name="machine_label" id="machine_label" size="30" placeholder="'joes_phone', 'car1'" value="{{ trackable.machine_label }}">
                                            <input type="hidden" class="form-control" name="machine_label_hidden" id="machine_label_hidden" size="30" value="{{ trackable.machine_label }}">                            </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label style="margin-top: 0px; margin-bottom: 0px">Description: </label>
                                        <a href="#" data-toggle="modal" data-target="#modaldescription"><i class="fa fa-question fa-lg"></i></a>
                                        {{ macros.modal("modaldescription", 'Description', '
                                        <p>A description of the input type.</p>
                                        ') }}
                                        <br>
                                        <div class="input-group">
                                            <textarea tabindex="3" class="form-control" rows="5" cols="40" name="description" id="description" placeholder="Description">{{ trackable.description }}</textarea>
                                        </div>
                                    </div>

                                </div>


                            </div> <!-- /.row -->

                        {%-
                        if display_type == "edit"
                        %}
                        <a class="btn btn-md btn-danger" href="/devtools/config/trackables/{{ trackable.id }}/details">Cancel</a>
                        <button type="submit" class="btn btn-success">Save Trackable</button>
                        {%
                        else
                        %}
                        <a class="btn btn-md btn-danger" href="/devtools/config/trackables/index">Cancel</a>
                        <button type="submit" class="btn btn-success">Add Trackable</button>
                        {% endif %}
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            </form>
<br>
{% endblock %}

{% block body_bottom_js %}
{% include 'lib/webinterface/fragments/select_js.tpl' %}
{% include 'lib/webinterface/fragments/jquery_validate_js.tpl' %}
{% endblock %}

{% block body_bottom %}
    <!-- Make the tables pretty -->
    <script>
     $(document).ready(function(){
        var i=1;

        (function($) {
            $.extend({
                toDictionary: function(query) {
                    var parms = {};
                    var items = query.split("&"); // split
                    for (var i = 0; i < items.length; i++) {
                        var values = items[i].split("=");
                        var key = decodeURIComponent(values.shift());
                        var value = values.join("=")
                        parms[key] = decodeURIComponent(value);
                    }
                    return (parms);
                }
            })
        })(jQuery);

        (function($) {
            $.fn.serializeFormJSON = function() {
                var o = [];
                $(this).find('tr').each(function() {
                    var elements = $(this).find('input, textarea, select')
                    if (elements.size() > 0) {
                        var serialized = $(this).find('input, textarea, select').serialize();
                        var item = $.toDictionary(serialized );
                        o.push(item);
                    }
                });
                return o;
            };
        })(jQuery);

        $("#inputtypeedit").submit(function(event) {
            var rawData = $('#inputtypeedit').serializeFormJSON();
            var formData = JSON.stringify(rawData);
        });


    });

    $('.ls-modal').on('click', function(e){
      e.preventDefault();
      $('#myModal').modal('show').find('.modal-body').load($(this).attr('href'));
    });

    $('form').validate({
        rules: {
            label: {
                minlength: 3,
                maxlength: 80,
                required: true,
            },
            machine_label: {
                minlength: 3,
                maxlength: 100,
                required: true,
            },
            description: {
                minlength: 0,
                maxlength: 256,
                required: true,
            },

        },
        messages: {
        },
        highlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
        },
        unhighlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
        },
        errorElement: 'span',
            errorClass: 'input-validation-error',
            errorPlacement: function(error, element) {
                if(element.length) {
                    error.insertAfter(element);
                } else {
                error.insertAfter(element);
                }
            }
     });
    </script>
{% endblock %}
