{% extends "lib/webinterface/fragments/layout.tpl" %}
{% import "lib/webinterface/fragments/macros.tpl" as macros%}
{% block head_css %}{% include 'lib/webinterface/fragments/datatables_css.tpl' %}{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Presence Information</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">

						<div class="panel-heading">
							<h4>
								<div style="float: right;">
									<a href="#" data-toggle="modal" data-target="#trackeditemsinfo"><i class="fa fa-question-circle fa-2x"></i></a>
								</div>Trackable Items
								<a href="/tools/module_presence/add" class="btn btn-md btn-primary">Add New Trackable</a>
							</h4>
						</div>
						<div class="panel-body">
							{{ macros.modal("trackeditemsinfo", 'Tracked Items', "
							<p>
								Tracked items is used to track the positions of items inside and/or outside a building. For
								example, a person can be added and can use several things to track the position of this person.
								For example, using the Bluetooth Presence module allows tracking which are that person's
								bluetooth device (a phone) is in. Or using the GPSLocation Module to locate where that person
								is while outside the home.
							</p>") }}

{% if trackables|length == 0 %}
							No trackable items registered.
{% else %}
						   <div class="dataTable_wrapper">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
									<thead>
										<tr>
											<th>Label</th><th>Last position</th><th>Time</th><th>Actions</th>
										</tr>
									</thead>
									<tbody>{% for trackable_id, trackable in sub_modules.items() %}
										 <tr>
											 <td>{{ trackable.label }}</td>
											 <td>{{ trackable.meta.current.human_location }}</td>
											 <td>{{ trackable.meta.current.time }}</td>
											 <td>
												 <form action="/tools/module_presence/{{trackable_id}}/details" method="get">
													<button type="submit" class="btn btn-success col-xs-12">View Details</button>
												</form>
											 </td>
										 </tr>
										 {% endfor %}
									</tbody>
								</table>
							</div>
{% endif %}
						</div>
					</div>
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">

						<div class="panel-heading">
							<h4>Sub-Modules</h4>
						</div>
						<div class="panel-body">
{% if sub_modules|length == 0 %}
							No sub presence modules.
{% else %}
						   <div class="dataTable_wrapper">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
									<thead>
										<tr>
											<th>Label</th><th>Description</th>
										</tr>
									</thead>
									<tbody>{% for module_id, module in sub_modules.items() %}
										 <tr>
											 <td>{{ module._label }}</td>
											 <td>{{ module._short_description}}</td>
										 </tr>
										 {% endfor %}
									</tbody>
								</table>
							</div>
{% endif %}
						</div>
					</div>
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->

{% endblock %}

{% block body_bottom_js %}{% include 'lib/webinterface/fragments/datatables_js.tpl' %}{% endblock %}


