{% extends "lib/webinterface/fragments/layout.tpl" %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Presence Information</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">

						<div class="panel-heading">
							<h4>
								<div style="float: right;">
									<a href="#" data-toggle="modal" data-target="#trackeditemsinfo"><i class="fa fa-question-circle fa-2x"></i></a>
								</div>Trackable Items
							</h4>
						</div>
						<div class="panel-body">
							Presence information is only available on the master. However, here is a list of
							presence modules installed on this gateway:
							<ul>
								<li>To be implemented...</li>
							</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-lg-6 -->
			</div>

{% endblock %}



